

.navbar-brand {
    font-size: 75px;
}
.navbar {
    font-size: 30px;
    
}
.header-content-left img {
    width: 500px;
    height: 500px;
}

.header-content-right h1{
     font-size: 55px;
}

.header-content-right p{
    text-align: justify;
   
}

#Estudios {
   
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}

#Estudios p{
    text-align: justify;
    font-size: 25px;
}

#Estudios img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    
}
#Experiencia_Laboral {
   
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}

#Experiencia_Laboral p{
    text-align: justify;
    font-size: 25px;
}

#Experiencia_Laboral img {
    object-fit: cover;
    width: 250px;
    height: 250px;
  
}
#Skills {
  
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}

#Skills p{
    text-align: justify;
    font-size: 25px;
}

#Skills img {
    object-fit: cover;
    width: 250px;
    height: 250px;
  
}
#Ing._Electrónica_Karen_Pech img {
    object-fit: cover;
    width: 300px;
    height:300px;}
